:root {
    --tin-light-blue:   #F2F2FD;
    --black:            #000000;
    --white:            #ffffff;
    --light-black:      #1A1B1E;
    --blue:             #354F95;
    --light-blue:       #517DF8;
    --dark-blue:        #002B48;
    --footer-blue:      #273E7C;
    --darker-white:     #DBDBDB;
}